*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    background-color: #9999ff;
}

header {
    width: 100%;
    height: 400px;
    background-image: url("../imagenes/headercovid.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color:#e67e22;
    text-align: center;
}

header .inicio {
    margin-top: 152px;
}

header .titulo {
    font-size: 80px;
}

header .subtitulo {
    font-size: 62px;
    font-weight: 300;
    margin-bottom: 32px;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}
h2 {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

h3 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 16px;
}

p{
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(24, 16, 16);
}
.navbar {
    width: 100%;
    background-color: #555;
    text-align: center;
    overflow: auto;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .active {
    background-color: #4CAF50;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  section {
     background-color: #9999ff;
  }

  form{
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    margin: 0 auto;
    width: 300px;
  }

  input, textarea{
    border: 0;
    outline: none;
    padding: 3px;
    margin: 5px;
    border-radius: 3px;
  }

  label{
    color: #3c6382;
    margin: 2px;
    padding: 3px;
  }

  .campo{
    border: solid 1px #1e3799;
  }

  .campo:focus{
     border-color: #9999ff;
  }

  .centrar{
    text-align: center;
  }
  
  .btn{
    border-radius: 3px;
    display: inline-block;
    padding: 20px 15px;
    text-shadow: 0 1px 0 #555;
    box-shadow: 0 1px 1px #555;
    text-decoration: none;
  }

  .btn-blue{
    color: white;
    background-color: #0a3d62;
  }